@import '../../common/styles/Colors.scss';

.favorites-header {
    display: flex;
    align-items: flex-start;
}

.favorites {
    display: flex;
}

.favorite{
    margin-right: 25px;
}

.favorite {
    padding-top: 15px;
    width: 160px;
    height: 160px;
    background-color: $gray-light;
    border-radius: 15px;
    border: 1px solid $gray-light;
    box-shadow: $shadow;
}

.favorite:hover{
    cursor: pointer;
    border: 1px solid $gray;
}

.favorite h2, .favorite p {
    margin: 0;
}

.favoriteWeatherIcon{
    height: 80px;
    width: 80px;
}

.location{
    height: 30px;
}

@media only screen and (max-width: 480px) {
    .favoritesContainer{
        width: 90%;
        margin: auto;
    }

    .favorites{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .favorite{
        width: 160px;
        height: 160px;
        margin-bottom: 25px;
        margin-right: 0;
    }
}