.FavoriteButton {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100px;
}

.FavoriteButton:hover{
    cursor: pointer;
}

@media only screen and (max-width: 480px){
    .FavoriteButton{
        right: 20px;
    }
}