@import "../../common/styles/Colors.scss";

.title {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.forecast {
    width: 100%;
}

.head-forecast {
    display: flex;
}

.body-forecast {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.timesOfDay {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timesOfDay p {
    margin: 0px;
}

.timeOfDay {
    width: 125px;
}

@media only screen and (max-width: 480px){
    .forecast{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }

    .head-forecast{
        flex-direction: column;
    }

    .timesOfDay{
        width: 100%;
    }

    .body-forecast{
        height: auto;
    }
}
