@import "../../common/styles/Colors.scss";

.row {
    height: 60px;
    width: 100%;
    background-color: $gray-light;
    border-radius: 15px;
    display: flex;
    box-shadow: $shadow;
}

.row-container {
    height: auto;
    width: 100%;
}

.date {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
}

.date p {
    margin: 0px;
}

.weatherIcons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 50px;
}

.icon-container {
    height: 50px;
}

.icon-container p {
    margin: 0;
}

@media only screen and (max-width: 480px) {
    .weatherIcons {
        width: 100%;
    }

    .row {
        margin: {
            top: 5px;
            bottom: 25px;
        }
        height: 100px;
    }

    .icon-container{
        height: 50 + 24px;
    }

    .date{
        padding-left: 0;
    }
}
