@import "../../common/styles/Colors.scss";

.row {
    height: 50px;
    width: 100%;
    background-color: $gray-light;
    border-radius: 15px;
    display: flex;
}

.date {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
}

.date p {
    margin: 0px;
}

.weatherIcons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    height: 35px;
    width: 125px;
}
