@import '../../common/styles/Colors.scss';

.locationContainer{
    display: flex;
    justify-content: center;
    //margin-top: 45px;
}

.favoritesContainer{
    margin-top: 5px;
}

@media only screen and (max-width: 480px){
    .locationContainer{
        flex-direction: column;
    }
}