$white: white;
$black: #333333;
$gray: #828282;
$gray-dark: #4f4f4f;
$gray-light: #fafafa;

.white {
    color: $white;
}

.black {
    color: $black;
}

.gray {
    color: $gray;
}

.gray-dark {
    color: $gray-dark;
}

.gray-light {
    color: $gray-light;
}