@font-face {
    font: {
        family: Heebo;
        style: normal;
        weight: 400;
    }
    src: url('./Heebo-Regular.ttf');
}

@font-face {
    font: {
        family: Heebo;
        style: medium;
        weight: 500;
    }
    src: url('./Heebo-Medium.ttf');
}

@font-face {
    font: {
        family: Heebo;
        style: bold;
        weight: 700;
    }
}