.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-header {
  max-width: 1260px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.App-main {
  max-width: 1260px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.devTools{
  padding: 10px 10px;
  position: absolute;
  background-color: lightgreen;
}