@import '../common//styles/Spacing.scss';

.App {
    text-align: center;
    padding-bottom: 15px;
}

.App-header {
    max-width: 1260px;
    margin: auto;
}

.App-link {
    color: #61dafb;
}

.App-main {
    max-width: 1260px;
    margin: auto;
    margin-top: $top-marg-desktop;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.devTools {
    padding: 10px 10px;
    position: absolute;
    background-color: lightgreen;
}

@media only screen and (max-width: 480px) {
    .App-main{
        margin-top: $top-marg-mobile;
    }
}
