@import '../../common/styles/Colors.scss';

.searchBar{
    height: 30px;
    width: 250px;
    padding-left: 15px;
    padding-top: 2.5px;
    border-radius: 100px;
    border: none;
    background: url('../../common/images/uiIcons/searchIcon.svg') no-repeat scroll 16px 16px;
    background-position: 95% center;
    background-size: 16px 16px;
    background-color: $gray-light;
    color: $gray-dark;
}

.searchBar:focus{
    outline: none;
}

.searchBar::placeholder{
    color: #828282;
}

.Results-container {
    width: 250px;
    min-height: 250px;
    background-color: $gray-light;
    position: absolute;
    margin-top: 10px;
    border: 1px solid $gray-border;
    border-radius: 15px;
    text-align: left;
    //padding: 5px 25px;
}

.searchResultElement {
    padding: 5px 25px;
}

.searchResultElement:hover {
    background-color: $gray-border;
    cursor: pointer;
}