.navBar {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    height: 50px;
}

.search-container{
    width: auto;
}

@media only screen and (max-width: 480px){
    .navBar{
        flex-direction: column;
        padding-top: 10px;
    }

    .logo{
        height: 33px;
    }

    .search-container{
        width: 90%;
    }
}